<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="3.0.0.20130513-alpha" targetFramework="net45" />
  <package id="akavache.interfaces" version="3.0.0.20130513-alpha" targetFramework="net45" />
  <package id="ApprovalTests" version="2.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="net45" />
  <package id="NServiceBus" version="4.0.0-unstable3064" targetFramework="net45" />
  <package id="NServiceBus.Interfaces" version="4.0.0-unstable3064" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="RavenDB.Database" version="2.0.2360" targetFramework="net45" />
  <package id="reactiveui-core" version="5.0.0.20130512-alpha" targetFramework="net45" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net45" />
</packages>