<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anotar.Custom.Fody" version="2.10.2" targetFramework="net40" developmentDependency="true" />
  <package id="Fody" version="1.24.0" targetFramework="net40" developmentDependency="true" />
  <package id="PepitaPackage" version="1.20.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Stamp.Fody" version="1.1.0" targetFramework="net40" />
</packages>